<br><h2>Choose query type</h2>
<form action="/app8/Lab8.php" method="POST">
    <input type="submit" name="b_searchAll" value="Search all">
    <input type="submit" name="b_searchParameter" value="Search by parameter">
    <input type="submit" name="b_insert" value="Insert">
    <input type="submit" name="b_delete" value="Delete">
    <input type="submit" name="b_update" value="Update">
    <br><input type="text" name="text_1" value="Name">
    <br><input type="text" name="text_2" value="Password">
    <br><input type="text" name="text_3" value="attr 3">
    <br><input type="text" name="text_4" value="attr 4">
</form>
